*{ /* Change every px to responsive unit */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.navbar{
    display: flex; /* to set a flex container */
    align-items: center;
    padding: 20px 0;
    background-color: #873124;
    position: relative;
}
nav{
    flex: 1; /* set flex item, since there is only one type of integer, they are flexed equally */
    text-align: right;
}
nav ul{
    display: inline-block; /*inline properties can't have box propertties*/
    list-style-type: none;
    cursor: pointer;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
    color: #d99c79;
    transition: 0.5s;
}
.navbar a:hover{
    color: #b18064;
}
p{
    color: #8a8a8a;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbarbackground{
    margin: auto;
    background-color: #873124;
}
.row{
    display: flex;
    align-items: center; /* to align vertically */
    flex-wrap: wrap; /* move it down when there is not much space, just like text wrap */ 
    justify-content:space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 20px;
}
.col-2 img{
    max-width: 100%;
    padding: 30px 0 30px 0px;
    margin-bottom: 0px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 70px 0 25px 0;
    color: #e2e9f2;
}
.btn{
    display: inline-block; /* some properties can't possesed had by inline properties*/
    background-color: #873124;
    color: #e2e9f2;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;

}
.btn:hover{
    background-color: #5a2017;
}
.headbackground{
    background:linear-gradient(#101009, #282314);
}
.bodybackground{
    background: linear-gradient(#282314, #101009);
}

/*packaging and products*/
.packaging{
    margin: 70px 0px;
}
.col-3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    padding: 10px;
}
.col-3 h4{
    text-align: center;
}
.col-3 td{
    font-size: 13px;
}
.col-3 p{
    text-align: center;
}
.pricelist table, th, td{
    margin: auto;
    border: 0px;
    border-collapse: collapse;
    padding: 10px 0px 10px 10px;
}
.pricelist table{
    width:100%;
}
.pricelist th:nth-child(1){
    background-color: #873124;
    color:white;
    width: 50%;
}
.pricelist th:nth-child(2){
    background-color:#5a2017;
    color:white;
    width: 50%;
}
.pricelist td:nth-child(1){
    background-color: #e6e6e6;
}
.pricelist td:nth-child(2){
    background-color: #f1f0f0;
}
.pricelist{
    padding: 0px 20px;
    margin-bottom:200px;
}
.small-container{
    max-width:1080px;
    margin: auto;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    padding: 10px;
}
.col-3 h4,p{
    padding-left: 10px;
    padding-bottom: 10px;
}
.title{
    text-align: center;
    margin: 50px 0;
    line-height: 60px;
    color: #282314;
    position: relative; /*to be the anchor for the little box*/
}
.title::after{
    content:'';
    background:#873124;
    width: 80px;
    height: 5px;
    border-radius:5px;
    position: absolute;
    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
}
.rating .fa{
    color: #ff523b;
    font-size: 20px;
}
.col-4:hover{
    transform: translateY(-10px);
}
/* premium */ 
.premium{
    margin-top: 80px;
    padding: 30px;
}
.premium h1{
    margin-top: 0px;
}
/*about*/
.about{
    padding: 0px 20px;
    margin-bottom:10px;
}
.small-container img{
    width: 100%;
}
.about p{
    padding: 0px;
}
.about h3{
    margin-bottom: 8px;
}
.desc{
    text-align: center;
    margin: 10px 0px 40px 0px;
}
.about .mendol{
    padding: 0px 20px;
}
.about .mendol:hover{
    filter: brightness(90%);
} 

/*contact*/
.contact table, td, tr{
    margin: 20vh 10px;
    padding: 10px;
    text-align: left;
    font-size: 20px;
}

.contact a{
    text-decoration:none;
    color:#8a8a8a;
    transition: 0.5s;
}
.contact i{
    font-size: 30px;
    vertical-align: bottom;
}

.contact a:hover{
    text-decoration:none;
    color:#282314;
}
/*footer*/
.footer{
    background: #101009;
    color: #8a8a8a;
    font-size: 14px;
    padding: 80px 0 20px;
}
.copyright p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer img{
    padding: 10px 0px;
    width: 25%;
}
.footer a{
    text-decoration: none;
    color: #8a8a8a;
    transition: 0.5s;
}
.footer a:hover{
    text-decoration: none;
    color: #757575;

}
.col-4-footer{
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    height: 170px;
    justify-content: flex-star;
}
.col-4-footer-logo{
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    height: 170px;
    justify-content: flex-start;
}

ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.copyright hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.fa-whatsapp, .fa-instagram{
    margin-right: 10px;
}

.copyright{
    text-align: center;
}
.menu-icon{
margin-left: 20px;
margin-top:7px;
display: none;
color: #d99c79;
}
.fa-shopping-cart{
    color: #d99c79;
}
.menucontainer{
    display: none;
    margin: 0px;
    padding: 0px;
}

/* media quert for menu */

@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top:70px;
        left: 0;
        background-color: #101009;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin-right:45px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menucontainer{
        display: block;
        cursor: pointer;
    }

}
@media only screen and (max-width:1049px){
    .col-4-footer-logo, .col-4-footer{
        flex-basis: 50%;
    }
}
@media only screen and (max-width:1049px){
        .col-4{
            flex-basis: 50%;
    }
}
@media only screen and (max-width:600px){
.row{
    text-align: center;
}
.col-2, .col-3, .col-4, .col-4-footer{
    flex-basis: 100%;
}
.col-3:hover, .col-4:hover, .testimonial .col-3:hover {
    transform: translateY(0px);
}
.about p, h3{
    text-align: center;
}
}